tqdm>=4.65.0      # Прогресс-бары для визуализации процессов
numpy>=1.24.3     # Работа с массивами и математические операции
Pillow>=9.5.0     # Генерация и обработка изображений
matplotlib>=3.6.0 # Построение графиков
python>=3.8       # Требуемая версия Python